body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:856px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u0 {
  position:absolute;
  left:14px;
  top:19px;
  width:185px;
  height:35px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:394px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  position:absolute;
  left:15px;
  top:81px;
  width:841px;
  height:394px;
}
#u4 {
  position:absolute;
  left:2px;
  top:189px;
  width:837px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:71px;
}
#u5 {
  position:absolute;
  left:28px;
  top:93px;
  width:799px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6 {
  position:absolute;
  left:2px;
  top:26px;
  width:795px;
  word-wrap:break-word;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  position:absolute;
  left:720px;
  top:173px;
  width:96px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:11px;
  width:92px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:185px;
}
#u9 {
  position:absolute;
  left:28px;
  top:232px;
  width:799px;
  height:184px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10 {
  position:absolute;
  left:2px;
  top:83px;
  width:795px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:43px;
}
#u11 {
  position:absolute;
  left:28px;
  top:426px;
  width:122px;
  height:43px;
}
#u12 {
  position:absolute;
  left:2px;
  top:14px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:36px;
}
#u13 {
  position:absolute;
  left:599px;
  top:430px;
  width:228px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
